<nav class="navbar shadow-lg bg-neutral bg-opacity-80 backdrop-filter backdrop-blur-lg text-neutral-content rounded-box top-0 sticky z-10">
    <div class="navbar-start mx-2 px-2">
        <img src="../../../../assets/Bat.png" alt="Bat Logo" width="64" height="64" class="mr-2">
        <span class="text-lg font-bold hidden sm:block">Vampire Watch</span>
    </div>
    <div class="navbar-end mx-2 px-2">
        <button *ngIf="wallet === ''" (click)="connectWallet()" class="btn btn-primary btn-outline"><fa-icon [icon]="faWallet" class="mr-2"></fa-icon>Connect</button>
        <span *ngIf="wallet !== ''" class="font-bold text-base text-primary inline-flex"><fa-icon [icon]="faWallet" class="mr-2"></fa-icon>{{ wallet | address }}</span>
    </div>
</nav>